* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: content-box;
}

/*@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?m18qjm");
  src: url("fonts/icomoon.eot?m18qjm#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?m18qjm") format("truetype"),
    url("fonts/icomoon.woff?m18qjm") format("woff"),
    url("fonts/icomoon.svg?m18qjm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}*/

.clear-fix::after {
  content: "";
  display: table;
  clear: both;
}

.padding-site {
  padding-left: 98px;
  padding-right: 98px;
}

.conteiner {
  width: 1366px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.slider {
  height: 800px;
  background-image: url(img/slider/slider-img.jpg);
  position: relative;
}

.header {
  padding-top: 63px;
}

.menu {
  float: right;
  padding-right: 67px;
}

.menu-list,
.featured-content-list {
  list-style-type: none;
  float: left;
}

.menu-link {
  color: #8c8c8c;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.4px;
  text-decoration: none;
  padding: 10px 13px;
}

.menu-link:hover {
  color: #212121;
  text-decoration: none;
}

.menu-link-active {
  color: #212121;
  font-weight: 700;
  letter-spacing: 1.4px;
  border-bottom: 3px solid #212121;
}

.slider-text {
  margin-top: 278px;
}

.slider-trending {
  color: #43a047;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.slider-h2 {
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -3px;
}

.slider-content {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  width: 458px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.button {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
  border-radius: 23px;
  background-color: #ffffff;
  display: inline-block;
  width: 212px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 3.6px;
}

.button img {
  margin-left: 8px;
}

.pagination {
  padding-top: 140px;
  width: 1170px;
  bottom: 19px;
  text-align: center;
}

.circle {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-color: #c7c7c7;
  border-radius: 50%;
  margin: 3px;
}

.circle-active {
  width: 40px;
  height: 40px;
  background-color: #212121;
  margin-bottom: -2.5px;
}

.circle:hover {
  background-color: #212121;
}

/* FEATURED*/

.featured {
  padding-top: 100px;
  height: 509px;
  background-color: #ffffff;
}

.featured-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 10px;
}

.featured-control {
  color: #6c6c6c;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 1px solid #6c6c6c;
}

.featured-control-active {
  float: left;
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  border-bottom: 3px solid #212121;
  padding-bottom: 10px;
}

.btn-ghost {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-decoration: none;
  padding-top: 10px;
}

.featured-content-main {
  position: relative;
}

.featured-content-list {
  display: flex;
  justify-content: space-between;
  width: 1170px;
}

.featured-content {
  position: absolute;
}

.featured-content-active {
  width: 269px;
  height: 269px;
  border: 1px solid #9c9c9c;
  background-color: white;
  opacity: 0.9;
  position: absolute;
  float: right;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-hover {
  width: 48px;
  height: 48px;
  margin-bottom: 15px;
}

.icon-hover img {
  height: 20px;
  margin: 15px 0 0 5px;
}

.featured-content-active-block {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.featured-content-active-h4 {
  color: #212121;
  font-size: 22px;
  font-weight: 700;
  padding-bottom: 15px;
  letter-spacing: -0.5px;
}

.featured-content-active-content {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  width: 216px;
  height: 42px;
  overflow: hidden;
  letter-spacing: -0.17px;
}

/*PROMO*/ /*EXCLUSIVE*/ /*HOT DEAL*/ /*MOBILE*/

.promo {
  height: 683px;
  display: flex;
}

.promo-pict1 {
  background-image: url(img/promo_product/promo-img1.jpg);
  height: 683px;
}

.promo-pict2 {
  background-image: url(img/promo_product/promo-img.jpg);
  height: 683px;
}

.promo-text,
.exclusive-text {
  padding-left: 50px;
  padding-top: 228px;
  display: flex;
  justify-content: center;
  flex-flow: column;
  width: 633px;
}

.promo-tag,
.exclusive-tag,
.mobile-tag {
  color: #1e88e5;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 18px;
  margin-bottom: 0em;
}

.name {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -1.25px;
  margin-bottom: 0em;
}

.promo-content,
.exclusive-content {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  width: 374px;
  height: 36px;
  overflow: hidden;
  letter-spacing: -0.15px;
  margin-bottom: 37px;
}

/*TRENDING*/

.trending {
  height: 1108px;
  background-color: white;
}

.trending-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding-top: 117px;
}

.trending-control {
  color: #6c6c6c;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -1.25px;
}

.trending-albom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  width: 1170px;
  height: 770px;
  overflow: hidden;
  margin-top: 58px;
}

.trending-image {
  height: 370px;
  width: 370px;
}

/*HOT DEAL*/

.hotDeal {
  width: 1170px;
  height: 800px;
  background-image: url(img/hot_deals/hot_slider.jpg);
}

.hotDeal-text {
  padding-top: 283px;
}

.hotDeal-tag {
  color: #e53935;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.hotDeal-name,
.mobile-name {
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: -2.8px;
}

.hotDeal-details {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  width: 458px;
  height: 38px;
  overflow: hidden;
  letter-spacing: -0.18px;
  padding: 15px 0 35px 0;
}

.hotDeal-pogination {
  padding-top: 225px;
}

/*EXCLUSIVE*/

.exclusive {
  height: 810px;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  align-content: center;
}

.exclusive-main {
  width: 570px;
  height: 570px;
  background-image: url(img/exclusive_product/product-1-lg.jpg);
}

.exclusive-text {
  margin-left: -20px;
  margin-top: -43px;
}

.exclusive-content {
  width: 332px;
}

.exclusive-albom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  width: 570px;
  height: 570px;
  overflow: hidden;
}

.exclusive-image {
  width: 270px;
  height: 270px;
}

/*MOBILE*/

.mobile {
  width: 1170px;
  height: 516px;
  background-image: url(img/mobile_app/back-img.jpg);
}

.mobile-text {
  padding-top: 125px;
}

.mobile-tag {
  color: #6c6c6c;
}

.mobile-name {
  font-size: 59px;
  width: 500px;
  height: 133px;
  overflow: hidden;
  line-height: 74px;
  letter-spacing: -2px;
}

.mobile-details {
  color: #6c6c6c;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: -0.35px;
  width: 415px;
  height: 21px;
  overflow: hidden;
  padding-top: 22px;
}

.mobile-store {
  padding-top: 37px;
}

.mobile-store img {
  margin-right: 7px;
}

/*FOOTER*/

.footer {
  width: 1170px;
  height: 384px;
  background-color: #f7f7f7;
  box-sizing: content-box;
}

.footer-columns {
  display: grid;
  grid-template-columns: 221px 422px 363px;
  column-gap: 80px;
  padding-top: 118px;
  width: 1164px;
}

.footer-name {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.footer-contacts-text {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 221px;
  height: 110px;
  overflow: hidden;
  padding-top: 13px;
}

.footer-contacts-text p {
  color: #212121;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: -0.25px;
  line-height: 23px;
}

.footer-useful-text-col1,
.footer-useful-text-col2 {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 70px;
  padding-top: 14px;
}

.footer-useful-text-col1 p,
.footer-useful-text-col2 p {
  margin-bottom: 0rem;
}

.footer-useful-text p {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}

.footer-useful-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
}

.footer-letsStay-text {
  color: #212121;
  font-size: 14px;
  font-weight: 300;
  padding-top: 13px;
  letter-spacing: -0.2px;
  line-height: 23px;
  margin-bottom: 20px;
}

.pict {
  position: absolute;
}

.footer-input {
  width: 350px;
  height: 46px;
  position: absolute;
  font-family: "Montserrat", sans-serif;
  color: #6c6c6c;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: -0.05em;
}

.footer-form > .pict {
  margin-left: 330px;
  padding-top: 15px;
}

.footer-botton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1171px;
  margin-top: 63px;
}

.footer-copyrite,
.footer-terms {
  color: #6c6c6c;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}

.footer-social {
  margin-left: -20px;
}

.footer-form {
  position: relative;
}

/*  ------ PRODUCT PAGE -------*/

.product-head {
  height: 360px;
  background-color: #f5f5f5;
  position: relative;
}

.product-head_text {
  padding-top: 142px;
}

.product-head_h2 {
  color: #212121;
  font-size: 62px;
  font-weight: 100;
  letter-spacing: -2px;
}

.product_menu {
  float: left;
  padding-right: 67px;
  height: 75px;
  margin-top: 65px;
}

.product_menu-list {
  list-style-type: none;
  float: left;
}

.product_menu-link {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 35px 10px 5px;
}

.product_menu-link:hover {
  color: #212121;
  text-decoration: none;
}

.product_menu-link-active {
  color: #212121;
  font-weight: 700;
  letter-spacing: 1.4px;
  border-bottom: 3px solid #212121;
}

.product_menu-link-bord {
  border-bottom: 1px solid #212121;
  border-spacing: 10px;
}

.product-albom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  width: 1170px;
  height: 1570px;
  overflow: hidden;
  margin-top: 58px;
  box-sizing: content-box;
}

.product-image {
  height: 370px;
  width: 370px;
}

.rownd-rows {
  display: grid;
  padding-top: 71px;
  margin-left: 670px;
}

.product-promo {
  margin-top: 140px;
}

.product-pict1 {
  background-image: url(img/promo_product/promo-img1.jpg);
  height: 683px;
  width: 683px;
}

.product-pict2 {
  background-image: url(img/promo_product/promo-img.jpg);
  height: 683px;
  width: 683px;
}

/* ------ DETAILS ------ */

.details-head {
  height: 119px;
  background-color: white;
  position: relative;
}

.details-menu {
  display: flex;
  height: 70px;
  background-color: #f4f4f4;
  justify-content: center;
}

.nav {
  height: 71px;
  align-items: center;
}

.nav-link {
  padding: 8px 4px;
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.nav-link-active {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #212121;
  letter-spacing: 1.2px;
}

.nav-link-active:hover {
  text-decoration: none;
}

.details-menu .justify-content-center {
  width: 700px;
  justify-content: space-evenly !important;
}

.nav-item a:hover {
  color: #212121;
}

/* PRODUCT */

.slider-small-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 230px;
  justify-items: center;
  padding: 0px 180px;
  margin-top: 10px;
}

.product {
  margin-top: 72px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 97px;
}

.product-about {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: 36px;
}

.product-name {
  color: #212121;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.product-hot {
  color: #e53935;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin-top: 2px;
}

.product-price {
  color: #212121;
  font-size: 36px;
  font-weight: 300;
  display: flex;
  align-items: baseline;
}

.product-price_number {
  font-size: 72px;
}

.product-about .button {
border-radius: 35px;
background-color: #f44336;
width: 510px;
height: 70px;
display: flex;
justify-content: center;
align-items: center;
color: #ffffff;
font-size: 22px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 4.4px;
margin-top: 8px;
}

.product-about .button img {
  padding: 0 10px;
}

.product-text {
  width: 499px;
  height: 244px;
  overflow: hidden;
  color: #212121;
font-size: 16px;
font-weight: 300;
letter-spacing: 0.2px;
margin-top: 48px;
}

.product-text p {
  margin-bottom: 0.8rem;
}

.related {
  height: 718px;
  background-color: white;
}

.related .trending-albom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  row-gap: 30px;
  column-gap: 30px;
  width: 1170px;
  height: 370px;
  overflow: hidden;
  margin-top: 58px;
}


/* ------ CONTACT ------*/

.contact {
  height: 563px;
  background-color: white;
}

.contact-blocks {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  column-gap: 30px;

}

.contact-block {
  border: 1px solid black;
  width: 368px;
  height: 370px;
  margin-top: 70px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.contact-position {
  padding-bottom: 28px;
}

.contact-name {
  color: #212121;
font-size: 22px;
font-weight: 700;
text-transform: uppercase;
padding-bottom: 12px;
}

.contact-phone,
.contact-mail,
.contact-address {
  color: #6c6c6c;
  font-size: 14px;
  font-weight: 700;
}

.contact-phone_number,
.contact-mail_value {
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 10px;
}

.contact-address_value {
  color: #212121;
  font-size: 14px;
  font-weight: 300;
}